* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
#container {
  width: 700px;
  margin: auto;
}
#logo {
  text-align: center;
}
#logo img {
  width: 500px;
}
#backButton a {
  text-decoration: none;
  background: none;
  border: none;
  color: brown;
}
#backButton a:hover {
  background-color: navajowhite;
  border: 1px solid brown;
  border-radius: 8px;
}
#title {
  margin-top: 18px;
}
#ipt {
  width: 451px;
  height: 44px;
  background-color: none;
  border: solid 3px sienna;
  border-radius: 12px;
  filter: opacity(0.3);
  margin-top: 42px;
  outline: none;
}
#ipt:hover {
  filter: opacity(0.6);
}
#ipt:active {
  filter: opacity(1);
  border-color: saddlebrown;
}
#btn {
  width: 160px;
  height: 44px;
  border-radius: 12px;
  background-color: sienna;
  border: none;
  color: blanchedalmond;
  margin-left: 16px;
  cursor: pointer;
}
#btn:hover {
  background-color: saddlebrown;
  color: white;
}
ul {
  margin-top: 42px;
}
li {
  display: flex;
  align-items: center;
  width: 627px;
  height: 49px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 0 16px;
  margin-bottom: 10px;
}
li input {
  width: 18px;
  height: 18px;
  border-radius: 6px;
  filter: opacity(0.5);
  appearance: none;
  background-color: saddlebrown;
  transform: matrix(0, 1, 1, 0, 0, 0);
}
li input:checked::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  transform-origin: bottom right;
}
li input:hover {
  filter: opacity(1);
}

li span {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 16px;
}
li button {
  background: none;
  border: none;
  font-size: 18px;
  color: sienna;
  cursor: pointer;
}
