* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
#container {
  width: 700px;
  margin: auto;
}
#logo {
  text-align: center;
}
#logo img {
  width: 500px;
}
#backButton a {
  text-decoration: none;
  background: none;
  border: none;
  color: brown;
}
#backButton a:hover {
  background-color: navajowhite;
  border: 1px solid brown;
  border-radius: 8px;
}
#title {
  margin-top: 18px;
}
#ipt {
  width: 451px;
  height: 44px;
  background-color: none;
  border: solid 3px sienna;
  border-radius: 12px;
  filter: opacity(0.3);
  margin-top: 42px;
  outline: none;
}
#ipt:hover {
  filter: opacity(0.6);
}
#ipt:active {
  filter: opacity(1);
  border-color: saddlebrown;
}
#btn {
  width: 160px;
  height: 44px;
  border-radius: 12px;
  background-color: sienna;
  border: none;
  color: blanchedalmond;
  margin-left: 16px;
}
#btn:hover {
  background-color: saddlebrown;
  color: white;
}
